body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.innerHead {
  text-align: center;
    margin: 25px;
}

.innerBody {
  display: flex;
  width: 951px;
  overflow-x: auto;
}

.loop-cell {
  display: block;
  margin: 25px;
}

.paragraph {
  width: max-content;
}

.loop-cell p {
  margin-bottom: -30px;
} 

.loop-cell img {
  margin-bottom: -20px;
}

.loop-cell h5 {
  margin-bottom: -15px;
}